modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
expertMode = true
stack = "FULLSTACK_JS"

[userenv]

[userenv.shared]
ADMARK_API_KEY = "f14bbabd-3245-44e3-ad2a-0ef632747400"
ADMARK_PHONE_NUMBER_ID = "1103117459561700"
AISENSY_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY4MTcxOTAzYjYyZWI0MGMwMGZkMzNhZiIsIm5hbWUiOiJBVEhBIEZPT0RTIFBSSVZBVEUgTElNSVRFRCIsImFwcE5hbWUiOiJBaVNlbnN5IiwiY2xpZW50SWQiOiI2ODE3MTkwM2I2MmViNDBjMDBmZDMzYWEiLCJhY3RpdmVQbGFuIjoiRlJFRV9GT1JFVkVSIiwiaWF0IjoxNzQ2MzQ0MTk1fQ.NLo_rY9qgxbrE9c3iKRJPcd8mPc5l2NCr-5XdsRUiqM"
AISENSY_USERNAME = "ATHA FOODS PRIVATE LIMITED"
MONGODB_URI = "mongodb+srv://raneaniket23_db_user:0lEZL6KqIATNmZsj@fishtokricluster.vhw7jp9.mongodb.net/?appName=Fishtokricluster"
RAZORPAY_KEY_ID = "rzp_live_T50Ny5Ok8wBo6y"
RAZORPAY_KEY_SECRET = "AWBbIhzhOj218hqVpP3taBkH"
VITE_GOOGLE_MAPS_API_KEY = "AIzaSyDe3GaC52SlaWDAFgFgod6Pwa1xZ0Lfw9o"
VITE_RAZORPAY_KEY_ID = "rzp_live_T50Ny5Ok8wBo6y"
